// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2025.1.0.39.0
// Netlist written on Wed Nov  5 10:01:33 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/mayut/source/e155/e155-lab3-2/source/impl_1/clk_gen.sv"
// file 1 "c:/users/mayut/source/e155/e155-lab3-2/source/impl_1/keypad_decoder.sv"
// file 2 "c:/users/mayut/source/e155/e155-lab3-2/source/impl_1/keypad_scan.sv"
// file 3 "c:/users/mayut/source/e155/e155-lab3-2/source/impl_1/keypad_storage.sv"
// file 4 "c:/users/mayut/source/e155/e155-lab3-2/source/impl_1/lab3_mt.sv"
// file 5 "c:/users/mayut/source/e155/e155-lab3-2/source/impl_1/sev_seg.sv"
// file 6 "c:/users/mayut/source/e155/e155-lab3-2/source/impl_1/sev_seg_sel.sv"
// file 7 "c:/users/mayut/source/e155/e155-lab3-2/source/impl_1/synchronizer.sv"
// file 8 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ice40up.v"
// file 9 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ice40up.vhd"
// file 10 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 11 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 12 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 13 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 14 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 15 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 16 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 17 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 18 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 19 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 20 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 21 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 22 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 23 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 24 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 25 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 26 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 27 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 28 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 29 "c:/lscc/radiant/2025.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 30 "c:/lscc/radiant/2025.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 31 "c:/lscc/radiant/2025.1/ip/common/adder/rtl/lscc_adder.v"
// file 32 "c:/lscc/radiant/2025.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 33 "c:/lscc/radiant/2025.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 34 "c:/lscc/radiant/2025.1/ip/common/counter/rtl/lscc_cntr.v"
// file 35 "c:/lscc/radiant/2025.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 36 "c:/lscc/radiant/2025.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 37 "c:/lscc/radiant/2025.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 38 "c:/lscc/radiant/2025.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 39 "c:/lscc/radiant/2025.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 40 "c:/lscc/radiant/2025.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 41 "c:/lscc/radiant/2025.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 42 "c:/lscc/radiant/2025.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 43 "c:/lscc/radiant/2025.1/ip/common/rom/rtl/lscc_rom.v"
// file 44 "c:/lscc/radiant/2025.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 45 "c:/lscc/radiant/2025.1/ip/pmi/pmi_add.v"
// file 46 "c:/lscc/radiant/2025.1/ip/pmi/pmi_addsub.v"
// file 47 "c:/lscc/radiant/2025.1/ip/pmi/pmi_complex_mult.v"
// file 48 "c:/lscc/radiant/2025.1/ip/pmi/pmi_counter.v"
// file 49 "c:/lscc/radiant/2025.1/ip/pmi/pmi_dsp.v"
// file 50 "c:/lscc/radiant/2025.1/ip/pmi/pmi_fifo.v"
// file 51 "c:/lscc/radiant/2025.1/ip/pmi/pmi_fifo_dc.v"
// file 52 "c:/lscc/radiant/2025.1/ip/pmi/pmi_mac.v"
// file 53 "c:/lscc/radiant/2025.1/ip/pmi/pmi_mult.v"
// file 54 "c:/lscc/radiant/2025.1/ip/pmi/pmi_multaddsub.v"
// file 55 "c:/lscc/radiant/2025.1/ip/pmi/pmi_multaddsubsum.v"
// file 56 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dp.v"
// file 57 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dp_be.v"
// file 58 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dq.v"
// file 59 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dq_be.v"
// file 60 "c:/lscc/radiant/2025.1/ip/pmi/pmi_rom.v"
// file 61 "c:/lscc/radiant/2025.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module lab3_mt
//

module lab3_mt (input reset, input [3:0]async_col, output [3:0]row, output [6:0]seg, 
            output seg_left_en, output seg_right_en);
    
    wire GND_net;
    wire reset_c;
    wire async_col_c_3;
    wire async_col_c_2;
    wire async_col_c_1;
    wire async_col_c_0;
    wire uninverted_row_0__N_104;
    wire val_0__N_105;
    wire seg_right_en_c;
    wire [3:0]uninverted_async_col;
    wire [3:0]uninverted_row;
    (* is_clock=1, lineinfo="@4(24[8],24[17])" *) wire clk_100hz;
    (* is_clock=1, lineinfo="@4(24[19],24[28])" *) wire clk_10khz;
    wire [3:0]sync_col;
    wire num_new;
    wire [3:0]num_left;
    wire [3:0]num_right;
    wire [3:0]val;
    wire VCC_net;
    wire clear;
    
    wire n819, num_new_N_107;
    wire [15:0]n119;
    
    wire n758;
    
    VHI i6 (.Z(VCC_net));
    (* lut_function="(!(A))", lineinfo="@4(20[32],20[42])" *) LUT4 async_col_c_1_I_0_1_lut (.A(async_col_c_1), 
            .Z(uninverted_async_col[1]));
    defparam async_col_c_1_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(20[32],20[42])" *) LUT4 async_col_c_2_I_0_1_lut (.A(async_col_c_2), 
            .Z(uninverted_async_col[2]));
    defparam async_col_c_2_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(20[32],20[42])" *) LUT4 async_col_c_3_I_0_1_lut (.A(async_col_c_3), 
            .Z(uninverted_async_col[3]));
    defparam async_col_c_3_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(20[32],20[42])" *) LUT4 async_col_c_0_I_0_1_lut (.A(async_col_c_0), 
            .Z(uninverted_async_col[0]));
    defparam async_col_c_0_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(41[15],43[52])" *) LUT4 i3_4_lut (.A(n119[11]), 
            .B(clear), .C(n758), .D(n119[9]), .Z(n819));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A))", lineinfo="@4(21[15],21[30])" *) LUT4 uninverted_row_0__I_0_1_lut (.A(uninverted_row[0]), 
            .Z(uninverted_row_0__N_104));
    defparam uninverted_row_0__I_0_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=14, LSE_RCOL=93, LSE_LLINE=41, LSE_RLINE=41, lineinfo="@4(41[14],41[93])" *) sev_seg_sel selector (reset_c, 
            val[0], val_0__N_105, num_right[0], num_left[0], seg_right_en_c, 
            clk_100hz);
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=69, LSE_LLINE=28, LSE_RLINE=28, lineinfo="@4(28[15],28[69])" *) synchronizer sync ({uninverted_async_col}, 
            clk_10khz, num_new_N_107, {sync_col});
    VLO i1 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@4(34[17],34[74])" *) keypad_scan scan (n119[11], 
            uninverted_row[0], n819, clk_10khz, clear, num_new, num_new_N_107, 
            n119[9], {sync_col}, n758);
    (* lineinfo="@4(12[22],12[31])" *) IB \async_col_pad[0]  (.I(async_col[0]), 
            .O(async_col_c_0));
    (* lineinfo="@4(12[22],12[31])" *) IB \async_col_pad[1]  (.I(async_col[1]), 
            .O(async_col_c_1));
    (* lineinfo="@4(12[22],12[31])" *) IB \async_col_pad[2]  (.I(async_col[2]), 
            .O(async_col_c_2));
    (* lineinfo="@4(12[22],12[31])" *) IB \async_col_pad[3]  (.I(async_col[3]), 
            .O(async_col_c_3));
    (* lineinfo="@4(11[22],11[27])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@4(15[35],15[47])" *) OB seg_right_en_pad (.I(seg_right_en_c), 
            .O(seg_right_en));
    (* lineinfo="@4(15[22],15[33])" *) OB seg_left_en_pad (.I(val_0__N_105), 
            .O(seg_left_en));
    (* lineinfo="@4(14[22],14[25])" *) OB \seg_pad[0]  (.I(val[0]), .O(seg[0]));
    (* lineinfo="@4(14[22],14[25])" *) OB \seg_pad[1]  (.I(GND_net), .O(seg[1]));
    (* lineinfo="@4(14[22],14[25])" *) OB \seg_pad[2]  (.I(GND_net), .O(seg[2]));
    (* lineinfo="@4(14[22],14[25])" *) OB \seg_pad[3]  (.I(val[0]), .O(seg[3]));
    (* lineinfo="@4(14[22],14[25])" *) OB \seg_pad[4]  (.I(val[0]), .O(seg[4]));
    (* lineinfo="@4(14[22],14[25])" *) OB \seg_pad[5]  (.I(val[0]), .O(seg[5]));
    (* lineinfo="@4(14[22],14[25])" *) OB \seg_pad[6]  (.I(VCC_net), .O(seg[6]));
    (* lineinfo="@4(13[22],13[25])" *) OB \row_pad[0]  (.I(uninverted_row_0__N_104), 
            .O(row[0]));
    (* lineinfo="@4(13[22],13[25])" *) OB \row_pad[1]  (.I(VCC_net), .O(row[1]));
    (* lineinfo="@4(13[22],13[25])" *) OB \row_pad[2]  (.I(VCC_net), .O(row[2]));
    (* lineinfo="@4(13[22],13[25])" *) OB \row_pad[3]  (.I(VCC_net), .O(row[3]));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=77, LSE_LLINE=36, LSE_RLINE=36, lineinfo="@4(36[17],36[77])" *) keypad_storage storage ({sync_col}, 
            num_new, uninverted_row[0], num_right[0], num_left[0], clk_10khz, 
            num_new_N_107, reset_c);
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=12, LSE_RCOL=46, LSE_LLINE=27, LSE_RLINE=27, lineinfo="@4(27[12],27[46])" *) clk_gen clock (reset_c, 
            clk_100hz, num_new_N_107, clk_10khz);
    
endmodule

//
// Verilog Description of module sev_seg_sel
//

module sev_seg_sel (input reset_c, output \val[0] , output val_0__N_105, 
            input \num_right[0] , input \num_left[0] , output seg_right_en_c, 
            input clk_100hz);
    
    (* is_clock=1, lineinfo="@4(24[8],24[17])" *) wire clk_100hz;
    
    wire n788, VCC_net, GND_net;
    
    (* lut_function="(!((B)+!A))", lineinfo="@6(22[15],27[8])" *) LUT4 i538_2_lut (.A(reset_c), 
            .B(\val[0] ), .Z(n788));
    defparam i538_2_lut.INIT = "0x2222";
    (* lut_function="(!(A))", lineinfo="@6(30[9],38[12])" *) LUT4 val_0__I_0_1_lut (.A(\val[0] ), 
            .Z(val_0__N_105));
    defparam val_0__I_0_1_lut.INIT = "0x5555";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@6(30[9],38[12])" *) LUT4 num_right_0__I_0_3_lut (.A(\num_right[0] ), 
            .B(\num_left[0] ), .C(\val[0] ), .Z(seg_right_en_c));
    defparam num_right_0__I_0_3_lut.INIT = "0xcaca";
    VLO i2 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=14, LSE_RCOL=93, LSE_LLINE=41, LSE_RLINE=41, lineinfo="@6(22[15],27[8])" *) FD1P3XZ alternate_led (.D(n788), 
            .SP(VCC_net), .CK(clk_100hz), .SR(GND_net), .Q(\val[0] ));
    defparam alternate_led.REGSET = "RESET";
    defparam alternate_led.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module synchronizer
//

module synchronizer (input [3:0]uninverted_async_col, input clk_10khz, input num_new_N_107, 
            output [3:0]sync_col);
    
    wire [3:0]temp_col;
    (* is_clock=1, lineinfo="@4(24[19],24[28])" *) wire clk_10khz;
    
    wire VCC_net;
    
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=69, LSE_LLINE=28, LSE_RLINE=28, lineinfo="@7(18[9],24[12])" *) FD1P3XZ temp_col_i3 (.D(uninverted_async_col[3]), 
            .SP(VCC_net), .CK(clk_10khz), .SR(num_new_N_107), .Q(temp_col[3]));
    defparam temp_col_i3.REGSET = "RESET";
    defparam temp_col_i3.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=69, LSE_LLINE=28, LSE_RLINE=28, lineinfo="@7(18[9],24[12])" *) FD1P3XZ temp_col_i2 (.D(uninverted_async_col[2]), 
            .SP(VCC_net), .CK(clk_10khz), .SR(num_new_N_107), .Q(temp_col[2]));
    defparam temp_col_i2.REGSET = "RESET";
    defparam temp_col_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=69, LSE_LLINE=28, LSE_RLINE=28, lineinfo="@7(18[9],24[12])" *) FD1P3XZ temp_col_i1 (.D(uninverted_async_col[1]), 
            .SP(VCC_net), .CK(clk_10khz), .SR(num_new_N_107), .Q(temp_col[1]));
    defparam temp_col_i1.REGSET = "RESET";
    defparam temp_col_i1.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=69, LSE_LLINE=28, LSE_RLINE=28, lineinfo="@7(18[9],24[12])" *) FD1P3XZ sync_col_i3 (.D(temp_col[3]), 
            .SP(VCC_net), .CK(clk_10khz), .SR(num_new_N_107), .Q(sync_col[3]));
    defparam sync_col_i3.REGSET = "RESET";
    defparam sync_col_i3.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=69, LSE_LLINE=28, LSE_RLINE=28, lineinfo="@7(18[9],24[12])" *) FD1P3XZ sync_col_i2 (.D(temp_col[2]), 
            .SP(VCC_net), .CK(clk_10khz), .SR(num_new_N_107), .Q(sync_col[2]));
    defparam sync_col_i2.REGSET = "RESET";
    defparam sync_col_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=69, LSE_LLINE=28, LSE_RLINE=28, lineinfo="@7(18[9],24[12])" *) FD1P3XZ sync_col_i1 (.D(temp_col[1]), 
            .SP(VCC_net), .CK(clk_10khz), .SR(num_new_N_107), .Q(sync_col[1]));
    defparam sync_col_i1.REGSET = "RESET";
    defparam sync_col_i1.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=69, LSE_LLINE=28, LSE_RLINE=28, lineinfo="@7(18[9],24[12])" *) FD1P3XZ sync_col_i0 (.D(temp_col[0]), 
            .SP(VCC_net), .CK(clk_10khz), .SR(num_new_N_107), .Q(sync_col[0]));
    defparam sync_col_i0.REGSET = "RESET";
    defparam sync_col_i0.SRMODE = "ASYNC";
    VHI i1 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=15, LSE_RCOL=69, LSE_LLINE=28, LSE_RLINE=28, lineinfo="@7(18[9],24[12])" *) FD1P3XZ temp_col_i0 (.D(uninverted_async_col[0]), 
            .SP(VCC_net), .CK(clk_10khz), .SR(num_new_N_107), .Q(temp_col[0]));
    defparam temp_col_i0.REGSET = "RESET";
    defparam temp_col_i0.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module keypad_scan
//

module keypad_scan (output n124, output \uninverted_row[0] , input n819, 
            input clk_10khz, output clear, output num_new, input num_new_N_107, 
            output n126, input [3:0]sync_col, output n758);
    
    wire [31:0]counter;
    (* is_clock=1, lineinfo="@4(24[19],24[28])" *) wire clk_10khz;
    
    wire n28, n215, n658;
    wire [31:0]n167;
    
    wire n38, n36, n42, n40, n41, n39, n778, n6, n1364, n775, 
        n760, n6_adj_155, n3;
    wire [15:0]n119;
    
    wire n201, n769, n157, n8, n776, n158, n772, n960, n2516, 
        GND_net, n958, n2513, n956, n2510, n954, n2507, n952, 
        n2504, n656, n770, n654, n652, n650, n648, n149, n148, 
        n147, n146, n950, n2501, n948, n2498, n946, n2495, n944, 
        n2492, n942, n2489, n940, n2486, n938, n2483, n936, 
        n2480, n934, n2375, n932, n2372, n930, n2369, n2366, 
        VCC_net;
    
    (* lut_function="(A+(B))" *) LUT4 i5_2_lut (.A(counter[11]), .B(counter[12]), 
            .Z(n28));
    defparam i5_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+!(C))+!A (B))", lineinfo="@2(51[9],89[16])" *) LUT4 i409_3_lut (.A(n124), 
            .B(\uninverted_row[0] ), .C(n215), .Z(n658));
    defparam i409_3_lut.INIT = "0xcece";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i1 (.D(n167[1]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[1]));
    defparam counter__i1.REGSET = "RESET";
    defparam counter__i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i15_4_lut (.A(counter[14]), 
            .B(counter[24]), .C(counter[22]), .D(counter[25]), .Z(n38));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i13_4_lut (.A(counter[13]), 
            .B(counter[16]), .C(counter[15]), .D(counter[26]), .Z(n36));
    defparam i13_4_lut.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(35[9],36[45])" *) FD1P3XZ rows__i1 (.D(n1364), 
            .SP(VCC_net), .CK(clk_10khz), .SR(num_new_N_107), .Q(num_new));
    defparam rows__i1.REGSET = "RESET";
    defparam rows__i1.SRMODE = "ASYNC";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i19_4_lut (.A(counter[30]), 
            .B(n38), .C(n28), .D(counter[21]), .Z(n42));
    defparam i19_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i17_4_lut (.A(counter[19]), 
            .B(counter[23]), .C(counter[20]), .D(counter[27]), .Z(n40));
    defparam i17_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i18_4_lut (.A(counter[18]), 
            .B(n36), .C(counter[17]), .D(counter[9]), .Z(n41));
    defparam i18_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i16_4_lut (.A(counter[28]), 
            .B(counter[31]), .C(counter[29]), .D(counter[10]), .Z(n39));
    defparam i16_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i22_4_lut (.A(n39), .B(n41), 
            .C(n40), .D(n42), .Z(n778));
    defparam i22_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(counter[4]), .B(n778), 
            .Z(n6));
    defparam i1_2_lut.INIT = "0xeeee";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i0 (.D(n167[0]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[0]));
    defparam counter__i0.REGSET = "RESET";
    defparam counter__i0.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i3 (.D(n167[3]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[3]));
    defparam counter__i3.REGSET = "RESET";
    defparam counter__i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i1 (.D(n3), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n119[0]));
    defparam state_FSM_i1.REGSET = "SET";
    defparam state_FSM_i1.SRMODE = "ASYNC";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut (.A(n775), .B(counter[5]), 
            .C(counter[8]), .D(n6), .Z(n760));
    defparam i4_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_6 (.A(counter[7]), .B(counter[6]), 
            .Z(n775));
    defparam i1_2_lut_adj_6.INIT = "0xeeee";
    (* lut_function="(A (B))" *) LUT4 i2_2_lut (.A(counter[3]), .B(counter[1]), 
            .Z(n6_adj_155));
    defparam i2_2_lut.INIT = "0x8888";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i5 (.D(n167[5]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[5]));
    defparam counter__i5.REGSET = "RESET";
    defparam counter__i5.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i1_4_lut (.A(counter[0]), 
            .B(n760), .C(n6_adj_155), .D(counter[2]), .Z(n201));
    defparam i1_4_lut.INIT = "0xeccc";
    (* lut_function="(A (B))", lineinfo="@2(51[9],89[16])" *) LUT4 i1_2_lut_adj_7 (.A(n126), 
            .B(n201), .Z(n769));
    defparam i1_2_lut_adj_7.INIT = "0x8888";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i4 (.D(n167[4]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[4]));
    defparam counter__i4.REGSET = "RESET";
    defparam counter__i4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@2(58[26],58[30])" *) LUT4 reduce_or_17_i3_4_lut (.A(sync_col[0]), 
            .B(sync_col[2]), .C(sync_col[1]), .D(sync_col[3]), .Z(n157));
    defparam reduce_or_17_i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B))" *) LUT4 i261_2_lut (.A(counter[2]), .B(counter[3]), 
            .Z(n8));
    defparam i261_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut_adj_8 (.A(n8), 
            .B(n775), .C(counter[5]), .D(counter[4]), .Z(n776));
    defparam i1_4_lut_adj_8.INIT = "0xfcec";
    (* lut_function="(!(A+!(B (C+(D))+!B (C))))", lineinfo="@2(85[23],85[52])" *) LUT4 i40_4_lut (.A(n157), 
            .B(n776), .C(n778), .D(counter[8]), .Z(n215));
    defparam i40_4_lut.INIT = "0x5450";
    (* lut_function="(A (B (C)+!B (C+(D)))+!A !(B+!(D)))", lineinfo="@2(51[9],89[16])" *) LUT4 reduce_or_81_i3_4_lut (.A(n215), 
            .B(n157), .C(n124), .D(n769), .Z(n3));
    defparam reduce_or_81_i3_4_lut.INIT = "0xb3a0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut (.A(counter[1]), .B(n760), 
            .C(counter[3]), .D(counter[2]), .Z(n158));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_9 (.A(n119[3]), .B(n119[4]), 
            .Z(n772));
    defparam i1_2_lut_adj_9.INIT = "0xeeee";
    (* lut_function="(!(A (B+(D))+!A (B+((D)+!C))))", lineinfo="@2(35[9],36[45])" *) LUT4 i2_4_lut (.A(num_new), 
            .B(n119[2]), .C(n119[1]), .D(n772), .Z(n1364));
    defparam i2_4_lut.INIT = "0x0032";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_33 (.A0(GND_net), 
            .B0(counter[31]), .C0(GND_net), .D0(n960), .CI0(n960), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n2516), .CI1(n2516), .CO0(n2516), 
            .S0(n167[31]));
    defparam add_13_add_5_33.INIT0 = "0xc33c";
    defparam add_13_add_5_33.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut_adj_10 (.A(n119[2]), 
            .B(n119[0]), .C(n119[1]), .D(n772), .Z(clear));
    defparam i3_4_lut_adj_10.INIT = "0xfffe";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_31 (.A0(GND_net), 
            .B0(counter[29]), .C0(GND_net), .D0(n958), .CI0(n958), .A1(GND_net), 
            .B1(counter[30]), .C1(GND_net), .D1(n2513), .CI1(n2513), 
            .CO0(n2513), .CO1(n960), .S0(n167[29]), .S1(n167[30]));
    defparam add_13_add_5_31.INIT0 = "0xc33c";
    defparam add_13_add_5_31.INIT1 = "0xc33c";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i12 (.D(n658), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n124));
    defparam state_FSM_i12.REGSET = "RESET";
    defparam state_FSM_i12.SRMODE = "ASYNC";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_29 (.A0(GND_net), 
            .B0(counter[27]), .C0(GND_net), .D0(n956), .CI0(n956), .A1(GND_net), 
            .B1(counter[28]), .C1(GND_net), .D1(n2510), .CI1(n2510), 
            .CO0(n2510), .CO1(n958), .S0(n167[27]), .S1(n167[28]));
    defparam add_13_add_5_29.INIT0 = "0xc33c";
    defparam add_13_add_5_29.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_27 (.A0(GND_net), 
            .B0(counter[25]), .C0(GND_net), .D0(n954), .CI0(n954), .A1(GND_net), 
            .B1(counter[26]), .C1(GND_net), .D1(n2507), .CI1(n2507), 
            .CO0(n2507), .CO1(n956), .S0(n167[25]), .S1(n167[26]));
    defparam add_13_add_5_27.INIT0 = "0xc33c";
    defparam add_13_add_5_27.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut_adj_11 (.A(n119[5]), 
            .B(n119[7]), .C(n119[6]), .D(n119[8]), .Z(n758));
    defparam i3_4_lut_adj_11.INIT = "0xfffe";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_25 (.A0(GND_net), 
            .B0(counter[23]), .C0(GND_net), .D0(n952), .CI0(n952), .A1(GND_net), 
            .B1(counter[24]), .C1(GND_net), .D1(n2504), .CI1(n2504), 
            .CO0(n2504), .CO1(n954), .S0(n167[23]), .S1(n167[24]));
    defparam add_13_add_5_25.INIT0 = "0xc33c";
    defparam add_13_add_5_25.INIT1 = "0xc33c";
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (D)))", lineinfo="@2(51[9],89[16])" *) LUT4 i407_4_lut (.A(n126), 
            .B(n157), .C(n201), .D(n758), .Z(n656));
    defparam i407_4_lut.INIT = "0xce0a";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i11 (.D(n770), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(\uninverted_row[0] ));
    defparam state_FSM_i11.REGSET = "RESET";
    defparam state_FSM_i11.SRMODE = "ASYNC";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i10 (.D(n656), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n126));
    defparam state_FSM_i10.REGSET = "RESET";
    defparam state_FSM_i10.SRMODE = "ASYNC";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i9 (.D(n654), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n119[8]));
    defparam state_FSM_i9.REGSET = "RESET";
    defparam state_FSM_i9.SRMODE = "ASYNC";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i8 (.D(n652), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n119[7]));
    defparam state_FSM_i8.REGSET = "RESET";
    defparam state_FSM_i8.SRMODE = "ASYNC";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i7 (.D(n650), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n119[6]));
    defparam state_FSM_i7.REGSET = "RESET";
    defparam state_FSM_i7.SRMODE = "ASYNC";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i6 (.D(n648), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n119[5]));
    defparam state_FSM_i6.REGSET = "RESET";
    defparam state_FSM_i6.SRMODE = "ASYNC";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i5 (.D(n149), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n119[4]));
    defparam state_FSM_i5.REGSET = "RESET";
    defparam state_FSM_i5.SRMODE = "ASYNC";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i4 (.D(n148), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n119[3]));
    defparam state_FSM_i4.REGSET = "RESET";
    defparam state_FSM_i4.SRMODE = "ASYNC";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i3 (.D(n147), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n119[2]));
    defparam state_FSM_i3.REGSET = "RESET";
    defparam state_FSM_i3.SRMODE = "ASYNC";
    (* lineinfo="@2(51[9],89[16])" *) FD1P3XZ state_FSM_i2 (.D(n146), .SP(VCC_net), 
            .CK(clk_10khz), .SR(num_new_N_107), .Q(n119[1]));
    defparam state_FSM_i2.REGSET = "RESET";
    defparam state_FSM_i2.SRMODE = "ASYNC";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i31 (.D(n167[31]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[31]));
    defparam counter__i31.REGSET = "RESET";
    defparam counter__i31.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i30 (.D(n167[30]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[30]));
    defparam counter__i30.REGSET = "RESET";
    defparam counter__i30.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_23 (.A0(GND_net), 
            .B0(counter[21]), .C0(GND_net), .D0(n950), .CI0(n950), .A1(GND_net), 
            .B1(counter[22]), .C1(GND_net), .D1(n2501), .CI1(n2501), 
            .CO0(n2501), .CO1(n952), .S0(n167[21]), .S1(n167[22]));
    defparam add_13_add_5_23.INIT0 = "0xc33c";
    defparam add_13_add_5_23.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_21 (.A0(GND_net), 
            .B0(counter[19]), .C0(GND_net), .D0(n948), .CI0(n948), .A1(GND_net), 
            .B1(counter[20]), .C1(GND_net), .D1(n2498), .CI1(n2498), 
            .CO0(n2498), .CO1(n950), .S0(n167[19]), .S1(n167[20]));
    defparam add_13_add_5_21.INIT0 = "0xc33c";
    defparam add_13_add_5_21.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_19 (.A0(GND_net), 
            .B0(counter[17]), .C0(GND_net), .D0(n946), .CI0(n946), .A1(GND_net), 
            .B1(counter[18]), .C1(GND_net), .D1(n2495), .CI1(n2495), 
            .CO0(n2495), .CO1(n948), .S0(n167[17]), .S1(n167[18]));
    defparam add_13_add_5_19.INIT0 = "0xc33c";
    defparam add_13_add_5_19.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_17 (.A0(GND_net), 
            .B0(counter[15]), .C0(GND_net), .D0(n944), .CI0(n944), .A1(GND_net), 
            .B1(counter[16]), .C1(GND_net), .D1(n2492), .CI1(n2492), 
            .CO0(n2492), .CO1(n946), .S0(n167[15]), .S1(n167[16]));
    defparam add_13_add_5_17.INIT0 = "0xc33c";
    defparam add_13_add_5_17.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_15 (.A0(GND_net), 
            .B0(counter[13]), .C0(GND_net), .D0(n942), .CI0(n942), .A1(GND_net), 
            .B1(counter[14]), .C1(GND_net), .D1(n2489), .CI1(n2489), 
            .CO0(n2489), .CO1(n944), .S0(n167[13]), .S1(n167[14]));
    defparam add_13_add_5_15.INIT0 = "0xc33c";
    defparam add_13_add_5_15.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_13 (.A0(GND_net), 
            .B0(counter[11]), .C0(GND_net), .D0(n940), .CI0(n940), .A1(GND_net), 
            .B1(counter[12]), .C1(GND_net), .D1(n2486), .CI1(n2486), 
            .CO0(n2486), .CO1(n942), .S0(n167[11]), .S1(n167[12]));
    defparam add_13_add_5_13.INIT0 = "0xc33c";
    defparam add_13_add_5_13.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_11 (.A0(GND_net), 
            .B0(counter[9]), .C0(GND_net), .D0(n938), .CI0(n938), .A1(GND_net), 
            .B1(counter[10]), .C1(GND_net), .D1(n2483), .CI1(n2483), 
            .CO0(n2483), .CO1(n940), .S0(n167[9]), .S1(n167[10]));
    defparam add_13_add_5_11.INIT0 = "0xc33c";
    defparam add_13_add_5_11.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_9 (.A0(GND_net), .B0(counter[7]), 
            .C0(GND_net), .D0(n936), .CI0(n936), .A1(GND_net), .B1(counter[8]), 
            .C1(GND_net), .D1(n2480), .CI1(n2480), .CO0(n2480), .CO1(n938), 
            .S0(n167[7]), .S1(n167[8]));
    defparam add_13_add_5_9.INIT0 = "0xc33c";
    defparam add_13_add_5_9.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_7 (.A0(GND_net), .B0(counter[5]), 
            .C0(GND_net), .D0(n934), .CI0(n934), .A1(GND_net), .B1(counter[6]), 
            .C1(GND_net), .D1(n2375), .CI1(n2375), .CO0(n2375), .CO1(n936), 
            .S0(n167[5]), .S1(n167[6]));
    defparam add_13_add_5_7.INIT0 = "0xc33c";
    defparam add_13_add_5_7.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_5 (.A0(GND_net), .B0(counter[3]), 
            .C0(GND_net), .D0(n932), .CI0(n932), .A1(GND_net), .B1(counter[4]), 
            .C1(GND_net), .D1(n2372), .CI1(n2372), .CO0(n2372), .CO1(n934), 
            .S0(n167[3]), .S1(n167[4]));
    defparam add_13_add_5_5.INIT0 = "0xc33c";
    defparam add_13_add_5_5.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_3 (.A0(GND_net), .B0(counter[1]), 
            .C0(GND_net), .D0(n930), .CI0(n930), .A1(GND_net), .B1(counter[2]), 
            .C1(GND_net), .D1(n2369), .CI1(n2369), .CO0(n2369), .CO1(n932), 
            .S0(n167[1]), .S1(n167[2]));
    defparam add_13_add_5_3.INIT0 = "0xc33c";
    defparam add_13_add_5_3.INIT1 = "0xc33c";
    (* lineinfo="@2(43[40],43[51])" *) FA2 add_13_add_5_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(counter[0]), .C1(VCC_net), 
            .D1(n2366), .CI1(n2366), .CO0(n2366), .CO1(n930), .S1(n167[0]));
    defparam add_13_add_5_1.INIT0 = "0xc33c";
    defparam add_13_add_5_1.INIT1 = "0xc33c";
    (* lut_function="(A (C)+!A (B (C)+!B (C+(D))))" *) LUT4 i399_3_lut_4_lut (.A(n157), 
            .B(n158), .C(n119[1]), .D(n119[5]), .Z(n648));
    defparam i399_3_lut_4_lut.INIT = "0xf1f0";
    (* lut_function="(A (C)+!A (B (C)+!B (C+(D))))" *) LUT4 i401_3_lut_4_lut (.A(n157), 
            .B(n158), .C(n119[2]), .D(n119[6]), .Z(n650));
    defparam i401_3_lut_4_lut.INIT = "0xf1f0";
    (* lut_function="(A (C)+!A (B (C)+!B (C+(D))))" *) LUT4 i403_3_lut_4_lut (.A(n157), 
            .B(n158), .C(n119[3]), .D(n119[7]), .Z(n652));
    defparam i403_3_lut_4_lut.INIT = "0xf1f0";
    (* lut_function="(A (C)+!A (B (C)+!B (C+(D))))" *) LUT4 i405_3_lut_4_lut (.A(n157), 
            .B(n158), .C(n119[4]), .D(n119[8]), .Z(n654));
    defparam i405_3_lut_4_lut.INIT = "0xf1f0";
    (* lut_function="(A (D)+!A (B (C+(D))+!B (D)))", lineinfo="@2(73[17],75[52])" *) LUT4 reduce_or_84_i1_3_lut_4_lut (.A(n157), 
            .B(n158), .C(n119[8]), .D(n119[0]), .Z(n146));
    defparam reduce_or_84_i1_3_lut_4_lut.INIT = "0xff40";
    (* lut_function="(!(A+!(B (C))))", lineinfo="@2(73[17],75[52])" *) LUT4 i86_2_lut_3_lut (.A(n157), 
            .B(n158), .C(n119[5]), .Z(n147));
    defparam i86_2_lut_3_lut.INIT = "0x4040";
    (* lut_function="(!(A+!(B (C))))", lineinfo="@2(73[17],75[52])" *) LUT4 i87_2_lut_3_lut (.A(n157), 
            .B(n158), .C(n119[6]), .Z(n148));
    defparam i87_2_lut_3_lut.INIT = "0x4040";
    (* lut_function="(!(A+!(B (C))))", lineinfo="@2(73[17],75[52])" *) LUT4 i88_2_lut_3_lut (.A(n157), 
            .B(n158), .C(n119[7]), .Z(n149));
    defparam i88_2_lut_3_lut.INIT = "0x4040";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i29 (.D(n167[29]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[29]));
    defparam counter__i29.REGSET = "RESET";
    defparam counter__i29.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i28 (.D(n167[28]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[28]));
    defparam counter__i28.REGSET = "RESET";
    defparam counter__i28.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i27 (.D(n167[27]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[27]));
    defparam counter__i27.REGSET = "RESET";
    defparam counter__i27.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i26 (.D(n167[26]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[26]));
    defparam counter__i26.REGSET = "RESET";
    defparam counter__i26.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i25 (.D(n167[25]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[25]));
    defparam counter__i25.REGSET = "RESET";
    defparam counter__i25.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i24 (.D(n167[24]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[24]));
    defparam counter__i24.REGSET = "RESET";
    defparam counter__i24.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i23 (.D(n167[23]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[23]));
    defparam counter__i23.REGSET = "RESET";
    defparam counter__i23.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i22 (.D(n167[22]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[22]));
    defparam counter__i22.REGSET = "RESET";
    defparam counter__i22.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i21 (.D(n167[21]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[21]));
    defparam counter__i21.REGSET = "RESET";
    defparam counter__i21.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i20 (.D(n167[20]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[20]));
    defparam counter__i20.REGSET = "RESET";
    defparam counter__i20.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i19 (.D(n167[19]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[19]));
    defparam counter__i19.REGSET = "RESET";
    defparam counter__i19.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i18 (.D(n167[18]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[18]));
    defparam counter__i18.REGSET = "RESET";
    defparam counter__i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i17 (.D(n167[17]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[17]));
    defparam counter__i17.REGSET = "RESET";
    defparam counter__i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i16 (.D(n167[16]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[16]));
    defparam counter__i16.REGSET = "RESET";
    defparam counter__i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i15 (.D(n167[15]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[15]));
    defparam counter__i15.REGSET = "RESET";
    defparam counter__i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i14 (.D(n167[14]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[14]));
    defparam counter__i14.REGSET = "RESET";
    defparam counter__i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i13 (.D(n167[13]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[13]));
    defparam counter__i13.REGSET = "RESET";
    defparam counter__i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i12 (.D(n167[12]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[12]));
    defparam counter__i12.REGSET = "RESET";
    defparam counter__i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i11 (.D(n167[11]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[11]));
    defparam counter__i11.REGSET = "RESET";
    defparam counter__i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i10 (.D(n167[10]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[10]));
    defparam counter__i10.REGSET = "RESET";
    defparam counter__i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i9 (.D(n167[9]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[9]));
    defparam counter__i9.REGSET = "RESET";
    defparam counter__i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i8 (.D(n167[8]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[8]));
    defparam counter__i8.REGSET = "RESET";
    defparam counter__i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i7 (.D(n167[7]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[7]));
    defparam counter__i7.REGSET = "RESET";
    defparam counter__i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i6 (.D(n167[6]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[6]));
    defparam counter__i6.REGSET = "RESET";
    defparam counter__i6.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A (B (C)))", lineinfo="@2(51[9],89[16])" *) LUT4 i1_2_lut_3_lut (.A(n157), 
            .B(n126), .C(n201), .Z(n770));
    defparam i1_2_lut_3_lut.INIT = "0x8080";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=74, LSE_LLINE=34, LSE_RLINE=34, lineinfo="@2(41[15],43[52])" *) FD1P3XZ counter__i2 (.D(n167[2]), 
            .SP(n819), .CK(clk_10khz), .SR(clear), .Q(counter[2]));
    defparam counter__i2.REGSET = "RESET";
    defparam counter__i2.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module keypad_storage
//

module keypad_storage (input [3:0]sync_col, input num_new, input \uninverted_row[0] , 
            output \num_right[0] , output \num_left[0] , input clk_10khz, 
            output num_new_N_107, input reset_c);
    
    (* is_clock=1, lineinfo="@4(24[19],24[28])" *) wire clk_10khz;
    
    wire n29, n786;
    
    (* lut_function="(!(A (B (C+!(D))+!B (C))+!A !(B (C (D))+!B (C))))" *) LUT4 i1_4_lut (.A(sync_col[2]), 
            .B(num_new), .C(sync_col[0]), .D(\uninverted_row[0] ), .Z(n29));
    defparam i1_4_lut.INIT = "0x5a12";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i2_3_lut (.A(n29), .B(sync_col[3]), 
            .C(sync_col[1]), .Z(n786));
    defparam i2_3_lut.INIT = "0x0202";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=77, LSE_LLINE=36, LSE_RLINE=36, lineinfo="@3(15[9],21[12])" *) FD1P3XZ num_right__i1 (.D(n786), 
            .SP(num_new), .CK(clk_10khz), .SR(num_new_N_107), .Q(\num_right[0] ));
    defparam num_right__i1.REGSET = "RESET";
    defparam num_right__i1.SRMODE = "ASYNC";
    (* lut_function="(!(A))", lineinfo="@0(24[7],24[13])" *) LUT4 i5_1_lut (.A(reset_c), 
            .Z(num_new_N_107));
    defparam i5_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=17, LSE_RCOL=77, LSE_LLINE=36, LSE_RLINE=36, lineinfo="@3(15[9],21[12])" *) FD1P3XZ num_left__i1 (.D(\num_right[0] ), 
            .SP(num_new), .CK(clk_10khz), .SR(num_new_N_107), .Q(\num_left[0] ));
    defparam num_left__i1.REGSET = "RESET";
    defparam num_left__i1.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module clk_gen
//

module clk_gen (input reset_c, output clk_100hz, input num_new_N_107, 
            output clk_10khz);
    
    (* is_clock=1, lineinfo="@0(14[8],14[17])" *) wire clk_48mhz;
    wire [31:0]counter_100hz;
    (* is_clock=1, lineinfo="@4(24[8],24[17])" *) wire clk_100hz;
    (* is_clock=1, lineinfo="@4(24[19],24[28])" *) wire clk_10khz;
    wire [31:0]counter_10khz;
    
    wire n1344, n784, VCC_net, n991, n2474, GND_net, n993;
    wire [31:0]n133;
    
    wire n989, n2471, n987, n2468, n985, n2465, n983, n2462, 
        n1348, n1350, n981, n2459, n979, n2456, n977, n2453, 
        n975, n2450, n973, n2447, n32, n31, n1345, n785, n35, 
        n971, n2444, n884, n34, n38, n33, n890, n18, n24, 
        n22, n26, n4, n969, n2441, n894, n967, n2438, n27, 
        n26_adj_114, n965, n2435, n29, n28, n963, n2432, n31_adj_115, 
        n30, n1354, n2378, n32_adj_116, n5;
    wire [31:0]n133_adj_154;
    
    wire n32_adj_118, n28_adj_146, n29_adj_148, n30_adj_150, n31_adj_152, 
        n1026, n2429, n1024, n2426, n1022, n2423, n1020, n2420, 
        n1018, n2417, n1016, n2414, n1014, n2411, n1012, n2408, 
        n1010, n2405, n1008, n2402, n1006, n2399, n1004, n2396, 
        n1002, n2393, n1000, n2390, n998, n2387, n996, n2384, 
        n2381, n2477;
    
    (* lut_function="(A+!(B))", lineinfo="@0(24[3],32[6])" *) LUT4 i1228_2_lut (.A(n1344), 
            .B(reset_c), .Z(n784));
    defparam i1228_2_lut.INIT = "0xbbbb";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=12, LSE_RCOL=46, LSE_LLINE=27, LSE_RLINE=27, lineinfo="@0(23[12],33[5])" *) FD1P3XZ clk_divided_100hz (.D(n1348), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(num_new_N_107), .Q(clk_100hz));
    defparam clk_divided_100hz.REGSET = "RESET";
    defparam clk_divided_100hz.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_31 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[29]), .D0(n991), .CI0(n991), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[30]), .D1(n2474), 
            .CI1(n2474), .CO0(n2474), .CO1(n993), .S0(n133[29]), .S1(n133[30]));
    defparam counter_100hz_300_add_4_31.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_31.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_29 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[27]), .D0(n989), .CI0(n989), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[28]), .D1(n2471), 
            .CI1(n2471), .CO0(n2471), .CO1(n991), .S0(n133[27]), .S1(n133[28]));
    defparam counter_100hz_300_add_4_29.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_29.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_27 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[25]), .D0(n987), .CI0(n987), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[26]), .D1(n2468), 
            .CI1(n2468), .CO0(n2468), .CO1(n989), .S0(n133[25]), .S1(n133[26]));
    defparam counter_100hz_300_add_4_27.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_27.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[23]), .D0(n985), .CI0(n985), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[24]), .D1(n2465), 
            .CI1(n2465), .CO0(n2465), .CO1(n987), .S0(n133[23]), .S1(n133[24]));
    defparam counter_100hz_300_add_4_25.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[21]), .D0(n983), .CI0(n983), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[22]), .D1(n2462), 
            .CI1(n2462), .CO0(n2462), .CO1(n985), .S0(n133[21]), .S1(n133[22]));
    defparam counter_100hz_300_add_4_23.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_23.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=12, LSE_RCOL=46, LSE_LLINE=27, LSE_RLINE=27, lineinfo="@0(41[12],51[5])" *) FD1P3XZ clk_divided_10khz (.D(n1350), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(num_new_N_107), .Q(clk_10khz));
    defparam clk_divided_10khz.REGSET = "RESET";
    defparam clk_divided_10khz.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i1 (.D(n133[0]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(n32_adj_116));
    defparam counter_100hz_300__i1.REGSET = "RESET";
    defparam counter_100hz_300__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[19]), .D0(n981), .CI0(n981), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[20]), .D1(n2459), 
            .CI1(n2459), .CO0(n2459), .CO1(n983), .S0(n133[19]), .S1(n133[20]));
    defparam counter_100hz_300_add_4_21.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[17]), .D0(n979), .CI0(n979), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[18]), .D1(n2456), 
            .CI1(n2456), .CO0(n2456), .CO1(n981), .S0(n133[17]), .S1(n133[18]));
    defparam counter_100hz_300_add_4_19.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[15]), .D0(n977), .CI0(n977), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[16]), .D1(n2453), 
            .CI1(n2453), .CO0(n2453), .CO1(n979), .S0(n133[15]), .S1(n133[16]));
    defparam counter_100hz_300_add_4_17.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[13]), .D0(n975), .CI0(n975), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[14]), .D1(n2450), 
            .CI1(n2450), .CO0(n2450), .CO1(n977), .S0(n133[13]), .S1(n133[14]));
    defparam counter_100hz_300_add_4_15.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[11]), .D0(n973), .CI0(n973), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[12]), .D1(n2447), 
            .CI1(n2447), .CO0(n2447), .CO1(n975), .S0(n133[11]), .S1(n133[12]));
    defparam counter_100hz_300_add_4_13.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_13.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i12_4_lut (.A(counter_10khz[18]), 
            .B(counter_10khz[21]), .C(counter_10khz[12]), .D(counter_10khz[26]), 
            .Z(n32));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i11_4_lut (.A(counter_10khz[19]), 
            .B(counter_10khz[28]), .C(counter_10khz[30]), .D(counter_10khz[15]), 
            .Z(n31));
    defparam i11_4_lut.INIT = "0xfffe";
    (* lut_function="(A+!(B))", lineinfo="@0(42[3],50[6])" *) LUT4 i1230_2_lut (.A(n1345), 
            .B(reset_c), .Z(n785));
    defparam i1230_2_lut.INIT = "0xbbbb";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i15_4_lut (.A(counter_10khz[24]), 
            .B(counter_10khz[14]), .C(counter_10khz[27]), .D(counter_10khz[23]), 
            .Z(n35));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[9]), .D0(n971), .CI0(n971), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[10]), .D1(n2444), 
            .CI1(n2444), .CO0(n2444), .CO1(n973), .S0(n133[9]), .S1(n133[10]));
    defparam counter_100hz_300_add_4_11.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i634_4_lut (.A(counter_10khz[5]), 
            .B(counter_10khz[8]), .C(counter_10khz[7]), .D(counter_10khz[6]), 
            .Z(n884));
    defparam i634_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i14_4_lut (.A(counter_10khz[17]), 
            .B(counter_10khz[31]), .C(counter_10khz[22]), .D(counter_10khz[16]), 
            .Z(n34));
    defparam i14_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))" *) LUT4 i18_3_lut (.A(n35), .B(n31), .C(n32), 
            .Z(n38));
    defparam i18_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i13_4_lut (.A(counter_10khz[20]), 
            .B(counter_10khz[29]), .C(counter_10khz[25]), .D(counter_10khz[13]), 
            .Z(n33));
    defparam i13_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i640_4_lut (.A(counter_10khz[10]), 
            .B(counter_10khz[11]), .C(n884), .D(counter_10khz[9]), .Z(n890));
    defparam i640_4_lut.INIT = "0xccc8";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut (.A(n890), .B(n33), 
            .C(n38), .D(n34), .Z(n1345));
    defparam i1_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut (.A(clk_10khz), 
            .B(n1345), .Z(n1350));
    defparam i1_2_lut.INIT = "0x6666";
    (* lut_function="(A+(B))" *) LUT4 i4_2_lut (.A(counter_100hz[26]), .B(counter_100hz[21]), 
            .Z(n18));
    defparam i4_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i10_4_lut (.A(counter_100hz[25]), 
            .B(counter_100hz[30]), .C(counter_100hz[29]), .D(counter_100hz[22]), 
            .Z(n24));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i8_4_lut (.A(counter_100hz[24]), 
            .B(counter_100hz[18]), .C(counter_100hz[28]), .D(counter_100hz[31]), 
            .Z(n22));
    defparam i8_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i12_4_lut_adj_1 (.A(counter_100hz[20]), 
            .B(n24), .C(n18), .D(counter_100hz[23]), .Z(n26));
    defparam i12_4_lut_adj_1.INIT = "0xfffe";
    (* lut_function="(A (B+(C))+!A (B))" *) LUT4 i1_3_lut (.A(counter_100hz[7]), 
            .B(counter_100hz[9]), .C(counter_100hz[8]), .Z(n4));
    defparam i1_3_lut.INIT = "0xecec";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[7]), .D0(n969), .CI0(n969), 
            .A1(GND_net), .B1(GND_net), .C1(counter_100hz[8]), .D1(n2441), 
            .CI1(n2441), .CO0(n2441), .CO1(n971), .S0(n133[7]), .S1(n133[8]));
    defparam counter_100hz_300_add_4_9.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i644_4_lut (.A(counter_100hz[10]), 
            .B(counter_100hz[12]), .C(counter_100hz[11]), .D(n4), .Z(n894));
    defparam i644_4_lut.INIT = "0xfcec";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n27), .D0(n967), .CI0(n967), .A1(GND_net), 
            .B1(GND_net), .C1(n26_adj_114), .D1(n2438), .CI1(n2438), 
            .CO0(n2438), .CO1(n969), .S0(n133[5]), .S1(n133[6]));
    defparam counter_100hz_300_add_4_7.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n29), .D0(n965), .CI0(n965), .A1(GND_net), 
            .B1(GND_net), .C1(n28), .D1(n2435), .CI1(n2435), .CO0(n2435), 
            .CO1(n967), .S0(n133[3]), .S1(n133[4]));
    defparam counter_100hz_300_add_4_5.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n31_adj_115), .D0(n963), .CI0(n963), .A1(GND_net), 
            .B1(GND_net), .C1(n30), .D1(n2432), .CI1(n2432), .CO0(n2432), 
            .CO1(n965), .S0(n133[1]), .S1(n133[2]));
    defparam counter_100hz_300_add_4_3.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i13_4_lut_adj_2 (.A(counter_100hz[19]), 
            .B(n26), .C(n22), .D(counter_100hz[27]), .Z(n1354));
    defparam i13_4_lut_adj_2.INIT = "0xfffe";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n32_adj_116), .D1(n2378), .CI1(n2378), .CO0(n2378), 
            .CO1(n963), .S1(n133[0]));
    defparam counter_100hz_300_add_4_1.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_3 (.A(n894), 
            .B(counter_100hz[17]), .C(counter_100hz[14]), .D(counter_100hz[13]), 
            .Z(n5));
    defparam i1_4_lut_adj_3.INIT = "0xc8c0";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i1_4_lut_adj_4 (.A(n5), 
            .B(n1354), .C(counter_100hz[15]), .D(counter_100hz[16]), .Z(n1344));
    defparam i1_4_lut_adj_4.INIT = "0xeccc";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut_adj_5 (.A(clk_100hz), 
            .B(n1344), .Z(n1348));
    defparam i1_2_lut_adj_5.INIT = "0x6666";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i1 (.D(n133_adj_154[0]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(n32_adj_118));
    defparam counter_10khz_302__i1.REGSET = "RESET";
    defparam counter_10khz_302__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i32 (.D(n133_adj_154[31]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[31]));
    defparam counter_10khz_302__i32.REGSET = "RESET";
    defparam counter_10khz_302__i32.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i31 (.D(n133_adj_154[30]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[30]));
    defparam counter_10khz_302__i31.REGSET = "RESET";
    defparam counter_10khz_302__i31.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i30 (.D(n133_adj_154[29]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[29]));
    defparam counter_10khz_302__i30.REGSET = "RESET";
    defparam counter_10khz_302__i30.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i29 (.D(n133_adj_154[28]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[28]));
    defparam counter_10khz_302__i29.REGSET = "RESET";
    defparam counter_10khz_302__i29.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i28 (.D(n133_adj_154[27]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[27]));
    defparam counter_10khz_302__i28.REGSET = "RESET";
    defparam counter_10khz_302__i28.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i27 (.D(n133_adj_154[26]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[26]));
    defparam counter_10khz_302__i27.REGSET = "RESET";
    defparam counter_10khz_302__i27.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i26 (.D(n133_adj_154[25]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[25]));
    defparam counter_10khz_302__i26.REGSET = "RESET";
    defparam counter_10khz_302__i26.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i25 (.D(n133_adj_154[24]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[24]));
    defparam counter_10khz_302__i25.REGSET = "RESET";
    defparam counter_10khz_302__i25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i24 (.D(n133_adj_154[23]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[23]));
    defparam counter_10khz_302__i24.REGSET = "RESET";
    defparam counter_10khz_302__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i23 (.D(n133_adj_154[22]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[22]));
    defparam counter_10khz_302__i23.REGSET = "RESET";
    defparam counter_10khz_302__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i22 (.D(n133_adj_154[21]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[21]));
    defparam counter_10khz_302__i22.REGSET = "RESET";
    defparam counter_10khz_302__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i21 (.D(n133_adj_154[20]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[20]));
    defparam counter_10khz_302__i21.REGSET = "RESET";
    defparam counter_10khz_302__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i20 (.D(n133_adj_154[19]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[19]));
    defparam counter_10khz_302__i20.REGSET = "RESET";
    defparam counter_10khz_302__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i19 (.D(n133_adj_154[18]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[18]));
    defparam counter_10khz_302__i19.REGSET = "RESET";
    defparam counter_10khz_302__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i18 (.D(n133_adj_154[17]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[17]));
    defparam counter_10khz_302__i18.REGSET = "RESET";
    defparam counter_10khz_302__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i17 (.D(n133_adj_154[16]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[16]));
    defparam counter_10khz_302__i17.REGSET = "RESET";
    defparam counter_10khz_302__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i16 (.D(n133_adj_154[15]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[15]));
    defparam counter_10khz_302__i16.REGSET = "RESET";
    defparam counter_10khz_302__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i15 (.D(n133_adj_154[14]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[14]));
    defparam counter_10khz_302__i15.REGSET = "RESET";
    defparam counter_10khz_302__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i14 (.D(n133_adj_154[13]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[13]));
    defparam counter_10khz_302__i14.REGSET = "RESET";
    defparam counter_10khz_302__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i13 (.D(n133_adj_154[12]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[12]));
    defparam counter_10khz_302__i13.REGSET = "RESET";
    defparam counter_10khz_302__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i12 (.D(n133_adj_154[11]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[11]));
    defparam counter_10khz_302__i12.REGSET = "RESET";
    defparam counter_10khz_302__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i11 (.D(n133_adj_154[10]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[10]));
    defparam counter_10khz_302__i11.REGSET = "RESET";
    defparam counter_10khz_302__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i10 (.D(n133_adj_154[9]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[9]));
    defparam counter_10khz_302__i10.REGSET = "RESET";
    defparam counter_10khz_302__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i9 (.D(n133_adj_154[8]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[8]));
    defparam counter_10khz_302__i9.REGSET = "RESET";
    defparam counter_10khz_302__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i8 (.D(n133_adj_154[7]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[7]));
    defparam counter_10khz_302__i8.REGSET = "RESET";
    defparam counter_10khz_302__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i7 (.D(n133_adj_154[6]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[6]));
    defparam counter_10khz_302__i7.REGSET = "RESET";
    defparam counter_10khz_302__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i6 (.D(n133_adj_154[5]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(counter_10khz[5]));
    defparam counter_10khz_302__i6.REGSET = "RESET";
    defparam counter_10khz_302__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i5 (.D(n133_adj_154[4]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(n28_adj_146));
    defparam counter_10khz_302__i5.REGSET = "RESET";
    defparam counter_10khz_302__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i4 (.D(n133_adj_154[3]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(n29_adj_148));
    defparam counter_10khz_302__i4.REGSET = "RESET";
    defparam counter_10khz_302__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i3 (.D(n133_adj_154[2]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(n30_adj_150));
    defparam counter_10khz_302__i3.REGSET = "RESET";
    defparam counter_10khz_302__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(46[55],46[72])" *) FD1P3XZ counter_10khz_302__i2 (.D(n133_adj_154[1]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n785), .Q(n31_adj_152));
    defparam counter_10khz_302__i2.REGSET = "RESET";
    defparam counter_10khz_302__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i32 (.D(n133[31]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[31]));
    defparam counter_100hz_300__i32.REGSET = "RESET";
    defparam counter_100hz_300__i32.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i31 (.D(n133[30]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[30]));
    defparam counter_100hz_300__i31.REGSET = "RESET";
    defparam counter_100hz_300__i31.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i30 (.D(n133[29]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[29]));
    defparam counter_100hz_300__i30.REGSET = "RESET";
    defparam counter_100hz_300__i30.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_33 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[31]), .D0(n1026), .CI0(n1026), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n2429), .CI1(n2429), 
            .CO0(n2429), .S0(n133_adj_154[31]));
    defparam counter_10khz_302_add_4_33.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_33.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_31 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[29]), .D0(n1024), .CI0(n1024), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[30]), .D1(n2426), 
            .CI1(n2426), .CO0(n2426), .CO1(n1026), .S0(n133_adj_154[29]), 
            .S1(n133_adj_154[30]));
    defparam counter_10khz_302_add_4_31.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_31.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_29 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[27]), .D0(n1022), .CI0(n1022), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[28]), .D1(n2423), 
            .CI1(n2423), .CO0(n2423), .CO1(n1024), .S0(n133_adj_154[27]), 
            .S1(n133_adj_154[28]));
    defparam counter_10khz_302_add_4_29.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_29.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_27 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[25]), .D0(n1020), .CI0(n1020), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[26]), .D1(n2420), 
            .CI1(n2420), .CO0(n2420), .CO1(n1022), .S0(n133_adj_154[25]), 
            .S1(n133_adj_154[26]));
    defparam counter_10khz_302_add_4_27.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_27.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[23]), .D0(n1018), .CI0(n1018), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[24]), .D1(n2417), 
            .CI1(n2417), .CO0(n2417), .CO1(n1020), .S0(n133_adj_154[23]), 
            .S1(n133_adj_154[24]));
    defparam counter_10khz_302_add_4_25.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[21]), .D0(n1016), .CI0(n1016), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[22]), .D1(n2414), 
            .CI1(n2414), .CO0(n2414), .CO1(n1018), .S0(n133_adj_154[21]), 
            .S1(n133_adj_154[22]));
    defparam counter_10khz_302_add_4_23.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[19]), .D0(n1014), .CI0(n1014), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[20]), .D1(n2411), 
            .CI1(n2411), .CO0(n2411), .CO1(n1016), .S0(n133_adj_154[19]), 
            .S1(n133_adj_154[20]));
    defparam counter_10khz_302_add_4_21.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[17]), .D0(n1012), .CI0(n1012), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[18]), .D1(n2408), 
            .CI1(n2408), .CO0(n2408), .CO1(n1014), .S0(n133_adj_154[17]), 
            .S1(n133_adj_154[18]));
    defparam counter_10khz_302_add_4_19.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[15]), .D0(n1010), .CI0(n1010), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[16]), .D1(n2405), 
            .CI1(n2405), .CO0(n2405), .CO1(n1012), .S0(n133_adj_154[15]), 
            .S1(n133_adj_154[16]));
    defparam counter_10khz_302_add_4_17.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[13]), .D0(n1008), .CI0(n1008), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[14]), .D1(n2402), 
            .CI1(n2402), .CO0(n2402), .CO1(n1010), .S0(n133_adj_154[13]), 
            .S1(n133_adj_154[14]));
    defparam counter_10khz_302_add_4_15.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[11]), .D0(n1006), .CI0(n1006), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[12]), .D1(n2399), 
            .CI1(n2399), .CO0(n2399), .CO1(n1008), .S0(n133_adj_154[11]), 
            .S1(n133_adj_154[12]));
    defparam counter_10khz_302_add_4_13.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[9]), .D0(n1004), .CI0(n1004), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[10]), .D1(n2396), 
            .CI1(n2396), .CO0(n2396), .CO1(n1006), .S0(n133_adj_154[9]), 
            .S1(n133_adj_154[10]));
    defparam counter_10khz_302_add_4_11.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[7]), .D0(n1002), .CI0(n1002), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[8]), .D1(n2393), 
            .CI1(n2393), .CO0(n2393), .CO1(n1004), .S0(n133_adj_154[7]), 
            .S1(n133_adj_154[8]));
    defparam counter_10khz_302_add_4_9.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_10khz[5]), .D0(n1000), .CI0(n1000), 
            .A1(GND_net), .B1(GND_net), .C1(counter_10khz[6]), .D1(n2390), 
            .CI1(n2390), .CO0(n2390), .CO1(n1002), .S0(n133_adj_154[5]), 
            .S1(n133_adj_154[6]));
    defparam counter_10khz_302_add_4_7.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n29_adj_148), .D0(n998), .CI0(n998), .A1(GND_net), 
            .B1(GND_net), .C1(n28_adj_146), .D1(n2387), .CI1(n2387), 
            .CO0(n2387), .CO1(n1000), .S0(n133_adj_154[3]), .S1(n133_adj_154[4]));
    defparam counter_10khz_302_add_4_5.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n31_adj_152), .D0(n996), .CI0(n996), .A1(GND_net), 
            .B1(GND_net), .C1(n30_adj_150), .D1(n2384), .CI1(n2384), 
            .CO0(n2384), .CO1(n998), .S0(n133_adj_154[1]), .S1(n133_adj_154[2]));
    defparam counter_10khz_302_add_4_3.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(46[55],46[72])" *) FA2 counter_10khz_302_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n32_adj_118), .D1(n2381), .CI1(n2381), .CO0(n2381), 
            .CO1(n996), .S1(n133_adj_154[0]));
    defparam counter_10khz_302_add_4_1.INIT0 = "0xc33c";
    defparam counter_10khz_302_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@0(28[57],28[74])" *) FA2 counter_100hz_300_add_4_33 (.A0(GND_net), 
            .B0(GND_net), .C0(counter_100hz[31]), .D0(n993), .CI0(n993), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n2477), .CI1(n2477), 
            .CO0(n2477), .S0(n133[31]));
    defparam counter_100hz_300_add_4_33.INIT0 = "0xc33c";
    defparam counter_100hz_300_add_4_33.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i29 (.D(n133[28]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[28]));
    defparam counter_100hz_300__i29.REGSET = "RESET";
    defparam counter_100hz_300__i29.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i28 (.D(n133[27]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[27]));
    defparam counter_100hz_300__i28.REGSET = "RESET";
    defparam counter_100hz_300__i28.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i27 (.D(n133[26]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[26]));
    defparam counter_100hz_300__i27.REGSET = "RESET";
    defparam counter_100hz_300__i27.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i26 (.D(n133[25]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[25]));
    defparam counter_100hz_300__i26.REGSET = "RESET";
    defparam counter_100hz_300__i26.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i25 (.D(n133[24]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[24]));
    defparam counter_100hz_300__i25.REGSET = "RESET";
    defparam counter_100hz_300__i25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i24 (.D(n133[23]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[23]));
    defparam counter_100hz_300__i24.REGSET = "RESET";
    defparam counter_100hz_300__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i23 (.D(n133[22]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[22]));
    defparam counter_100hz_300__i23.REGSET = "RESET";
    defparam counter_100hz_300__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i22 (.D(n133[21]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[21]));
    defparam counter_100hz_300__i22.REGSET = "RESET";
    defparam counter_100hz_300__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i21 (.D(n133[20]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[20]));
    defparam counter_100hz_300__i21.REGSET = "RESET";
    defparam counter_100hz_300__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i20 (.D(n133[19]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[19]));
    defparam counter_100hz_300__i20.REGSET = "RESET";
    defparam counter_100hz_300__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i19 (.D(n133[18]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[18]));
    defparam counter_100hz_300__i19.REGSET = "RESET";
    defparam counter_100hz_300__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i18 (.D(n133[17]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[17]));
    defparam counter_100hz_300__i18.REGSET = "RESET";
    defparam counter_100hz_300__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i17 (.D(n133[16]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[16]));
    defparam counter_100hz_300__i17.REGSET = "RESET";
    defparam counter_100hz_300__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i16 (.D(n133[15]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[15]));
    defparam counter_100hz_300__i16.REGSET = "RESET";
    defparam counter_100hz_300__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i15 (.D(n133[14]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[14]));
    defparam counter_100hz_300__i15.REGSET = "RESET";
    defparam counter_100hz_300__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i14 (.D(n133[13]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[13]));
    defparam counter_100hz_300__i14.REGSET = "RESET";
    defparam counter_100hz_300__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i13 (.D(n133[12]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[12]));
    defparam counter_100hz_300__i13.REGSET = "RESET";
    defparam counter_100hz_300__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i12 (.D(n133[11]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[11]));
    defparam counter_100hz_300__i12.REGSET = "RESET";
    defparam counter_100hz_300__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i11 (.D(n133[10]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[10]));
    defparam counter_100hz_300__i11.REGSET = "RESET";
    defparam counter_100hz_300__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i10 (.D(n133[9]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[9]));
    defparam counter_100hz_300__i10.REGSET = "RESET";
    defparam counter_100hz_300__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i9 (.D(n133[8]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[8]));
    defparam counter_100hz_300__i9.REGSET = "RESET";
    defparam counter_100hz_300__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i8 (.D(n133[7]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(counter_100hz[7]));
    defparam counter_100hz_300__i8.REGSET = "RESET";
    defparam counter_100hz_300__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i7 (.D(n133[6]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(n26_adj_114));
    defparam counter_100hz_300__i7.REGSET = "RESET";
    defparam counter_100hz_300__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i6 (.D(n133[5]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(n27));
    defparam counter_100hz_300__i6.REGSET = "RESET";
    defparam counter_100hz_300__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i5 (.D(n133[4]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(n28));
    defparam counter_100hz_300__i5.REGSET = "RESET";
    defparam counter_100hz_300__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i4 (.D(n133[3]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(n29));
    defparam counter_100hz_300__i4.REGSET = "RESET";
    defparam counter_100hz_300__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i3 (.D(n133[2]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(n30));
    defparam counter_100hz_300__i3.REGSET = "RESET";
    defparam counter_100hz_300__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(28[57],28[74])" *) FD1P3XZ counter_100hz_300__i2 (.D(n133[1]), 
            .SP(VCC_net), .CK(clk_48mhz), .SR(n784), .Q(n31_adj_115));
    defparam counter_100hz_300__i2.REGSET = "RESET";
    defparam counter_100hz_300__i2.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    VHI i1 (.Z(VCC_net));
    (* syn_instantiated=1, LSE_LINE_FILE_ID=76, LSE_LCOL=12, LSE_RCOL=46, LSE_LLINE=27, LSE_RLINE=27, lineinfo="@4(27[12],27[46])" *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), 
            .CLKHFEN(VCC_net), .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), 
            .TRIM6(GND_net), .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), 
            .TRIM2(GND_net), .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(clk_48mhz));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    
endmodule
